/*
 <div class="contenedor">
    <div class="item item-1">1</div>
*/

.contenedor{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  margin: 20px;
  width: 400px;
  height: 300px;
  font-size: 20px;
 color: white;
  background-color: blue;
}


